@page "/"

@inherits LayoutComponentBase

@using Meddit.Data;

@inject ApiService apiService

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>Meddit</PageTitle>

<h1>Welcome to Meddit</h1>

<p>Below you can read the most recent posts.</p>

<PostList></PostList>


<h4>Here you can leave your post</h4>

<div>
    <br />
    <h3>Write a Post</h3>
    <input placeholder="Content" type="input" id="content" @bind-value="title" />
    <button id="createPostButton" type="button" @onclick="CreateNewPost">Post Post</button>
</div>

@code {


    private string? title;
    private async void CreateNewPost()
    {
        if (title == null)
        {
            return;
        }
        // TODO: Provide list of users from dropdown, or maybe just convert
        // from username to UserId
        await apiService.CreatePost(title, 1); // UserId: 1
    }
}
